{{ item.key }}: {
{% for k, v in pkg_repos[item.key] | dictsort() %}
{% if v in ("yes", "no", "YES", "NO", "true", "false") %}
{{ k }}: {{ v }},
{% elif v == None %}
{{ k }}: "NONE",
{% else %}
{{ k }}: {{ v | to_json }},
{% endif %}
{% endfor %}
}
