# Managed by ansible
{{ item.key }}: {
  url: "{{ item.value.url }}",
  mirror_type: "{{ item.value.mirror_type }}",
  signature_type: "{{ item.value.signature_type }}",
  fingerprints: "{{ item.value.fingerprints }}",
  enabled: {{ item.value.enabled }}
}
